<!-- <div style="background: #ECECEC; padding:30px;" class="d-flex justify-content-center">
  <div class="row mx-5 d-flex flex-wrap">
    <div class="p-5 col-12 col-md-3" *ngFor="let item of cards">
      <nz-card nzHoverable [nzCover]="coverTemplate">
        <nz-card-meta [nzTitle]="item.title" [nzDescription]="item.description"></nz-card-meta>
        <button nz-button nzType="primary" nzShape="round" class="mt-2" (click)="open()">
          Buy Now
        </button>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" src="{{ item.img }}" />
      </ng-template>
    </div>
  </div>
</div> -->
<div  class="w-100 m-5">
  <div class="container w-100">
    <div class="d-flex justify-content-between w-100">
      <h1 class="fw-bold">Vendor Dashboard</h1>
  
    <button nz-button nzType="primary" (click)="showAddEventModal()">Add Event</button>

    </div>
    
  
    <h3 class="mt-4">Your Events</h3>
    <nz-table #basicTable [nzBordered]="true" [nzData]="events" [nzBordered]="true" [nzSize]="'middle'" [nzBordered]="true">
      <thead>
        <tr>
          <th nzWidth="25%">Event Name</th>
          <th nzWidth="25%">Ticket Price</th>
          <th nzWidth="20%">Total Tickets</th>
          <th nzWidth="20%">Tickets Sold</th>
          <th nzWidth="15%">Status</th>
          <th nzWidth="15%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.eventName }}</td>
          <td>{{ event.ticketPrice }}</td>
          <td>{{ event.totalTickets }}</td>
          <td>{{ event.ticketsSold }}</td>
          <td>{{ event.status }}</td>
          <td>
            
            <button class="m-1"*ngIf="event.status !== 'Active'" (click)="updateEventStatus(event.id, 'Active')" nz-button nzType="primary">Activate</button>
            <button class="m-1" *ngIf="event.status === 'Active'" (click)="updateEventStatus(event.id, 'Inactive')" nz-button nzType="primary" nzDanger>Deactivate</button>
            
            
            <button class="m-1" (click)="addMoreTickets(event.id)" nz-button nzType="default">Add Tickets</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  
  <nz-modal
    [(nzVisible)]="isAddEventModalVisible"
    nzTitle="Add Event"
    (nzOnCancel)="handleAddEventCancel()"
    (nzOnOk)="handleAddEventOk()"
  >
  <ng-container *nzModalContent>
    <form [formGroup]="addEventForm" class="d-flex flex-column">
      <label>Event Name</label>
      <input nz-input formControlName="eventName" />
  
      <label>Total Tickets</label>
      <input type="number" nz-input formControlName="totalTickets" />

      <label>Ticket Price</label>
    <input type="number" nz-input formControlName="ticketPrice" />
    </form>
  </ng-container>
    
  </nz-modal>
  
</div>
