<div style="background: #ECECEC; padding:30px; " class="d-flex justify-content-center">
    <div class="row   mx-5 " >
      <div  class="p-5 col-12 col-md-3 ">
        <nz-card nzHoverable  [nzCover]="coverTemplate" >
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" ></nz-card-meta>
            <button nz-button nzType="primary" nzShape="round" class="mt-2">
                Buy Now
              </button>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>
      </div>
      <div  class="p-5 col-12 col-md-3 ">
        <nz-card nzHoverable  [nzCover]="coverTemplate" >
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" ></nz-card-meta>
            <button nz-button nzType="primary" nzShape="round" class="mt-2">
                Buy Now
              </button>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>
      </div>
      <div  class="p-5 col-12 col-md-3 ">
        <nz-card nzHoverable  [nzCover]="coverTemplate" >
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" ></nz-card-meta>
            <button nz-button nzType="primary" nzShape="round" class="mt-2">
                Buy Now
              </button>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>
      </div>
      <div  class="p-5 col-12 col-md-3 ">
        <nz-card nzHoverable  [nzCover]="coverTemplate" >
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" ></nz-card-meta>
            <button nz-button nzType="primary" nzShape="round" class="mt-2">
                Buy Now
              </button>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>
      </div>
      <div  class="p-5 col-12 col-md-3 ">
        <nz-card nzHoverable  [nzCover]="coverTemplate" >
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" ></nz-card-meta>
            <button nz-button nzType="primary" nzShape="round" class="mt-2">
                Buy Now
              </button>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>
      </div>
    </div>
    
</div>
